[project]
	description = Andmore - Eclipse Android Tooling
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/David Carver (kingargyle)
[access "refs/for/refs/*"]
	read = group user/David Carver (kingargyle)
	push = group user/David Carver (kingargyle)
	label-Code-Review = -2..+2 group user/David Carver (kingargyle)
	label-Verified = -1..+1 group user/David Carver (kingargyle)
	rebase = group user/David Carver (kingargyle)
	removeReviewer = group user/David Carver (kingargyle)
	submit = group user/David Carver (kingargyle)
[access "refs/heads/*"]
	read = group user/David Carver (kingargyle)
	create = group user/David Carver (kingargyle)
	push = +force group user/David Carver (kingargyle)
	pushMerge = group user/David Carver (kingargyle)
[access "refs/tags/*"]
	push = +force group user/David Carver (kingargyle)
	pushTag = group user/David Carver (kingargyle)
	pushSignedTag = group user/David Carver (kingargyle)
